body {
	overflow: hidden;
}

#gameWindow {
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
}

@font-face {
	font-family: LCD_Solid;
	src: url(LCD_Solid.ttf);
}

.blackening {
	background-color: black;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: none;
}

#menu {
	display: none;
	font-size: 25px;
	position: fixed;
	z-index: 4;
	padding: 20px;
	background: white;
	color: black;
	font-family: LCD_Solid;
}

#menu h3 {
	margin: -5px 0 0;
}

#close {
	position: absolute;
	left: 310px;
	top: 15px;
	cursor: pointer;
}

.modal {
	position: absolute;
	display: inline-block;
	z-index: 2;
	background: white;
	color: black;
	font-family: LCD_Solid;
}
.modal h3 {
	margin: 5px 5px 0;
	position: absolute;
}
.modal span {
	font-size: 23px;
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 7px;
	cursor: pointer;
}
.modal div {
	width: 100%;
	position: absolute;
	height: 100%;
	border-top: 1px black solid;
	top: 30px;
}
