body {
	overflow: hidden;
}

@font-face {
	font-family: LCD_Solid;
	src: url(LCD_Solid.ttf);
}

button {
	font-family: LCD_Solid;
}

#gameWindow {
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: absolute;
	z-index: 1;
}

.blackening {
	background-color: black;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: none;
}

#menu {
	display: none;
	font-size: 25px;
	position: fixed;
	z-index: 4;
	padding: 20px;
	background: white;
	color: black;
	font-family: LCD_Solid;
}

#menu h3 {
	margin: -5px 0 0;
}

#close {
	position: absolute;
	left: 310px;
	top: 15px;
	cursor: pointer;
}

.modal {
	position: absolute;
	display: inline-block;
	z-index: 2;
	background: white;
	color: black;
	font-family: LCD_Solid;
	display: none;
}

.topDiv {
	width: 100%;
	height: 30px;
	border-bottom: 1px black solid;
	display: flex;
	justify-content: space-between;
}

.topDiv h3 {
	margin: 5px 7px 0;
}

.topDiv input {
	margin: 6px 0;
	width: 18px;
	height: 18px;
}

.topDiv label {
	margin: 9px 0;
	font-size: 15px;
}

.topDiv span {
	font-size: 23px;
	padding: 7px;
	cursor: pointer;
}

.bottomDiv {
	width: 100%;
	height: auto;
}
